.profile__title-wrapper {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 640px) {
  .profile__title-wrapper {
    align-items: flex-start;
    transform: translate(14px, 0px);
  }
}