.element {
  background-color: #ffffff;
  min-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  align-items: end;
  justify-items: center;
  padding-bottom: 25px;
  grid-template-areas: "image image"
                        "description like";
  grid-template-columns: 78% 22%;
}